<html>
    <head>
        <title>quiz test29</title>
    </head>
    <body>
        
       
        <h1>Quiz</h1>
 
           {% if latest_question_list %}
               <ul>
               {% for question in latest_question_list %}
                   {{forloop.counter}}. <a href="{% url 'quiz:detail' question.id %}" id="quiz_select1">{{ question.question_text }}</a><br>
               {% endfor %}
               </ul>
            {% else %}
                <p1>No quiz are available.</p1><br><br>
            {% endif %}

         
             <a href="add_question" id= "add_question">   You can add Question </a><br>
              <a href="delete_question" id= "delete_question">   Only admin can delete Question </a>
             
      

    </body>
</html>
