<html>
    <head>
        <title>quiz test29</title>
    </head>
    <body>
        
       
        <h1>Quiz</h1>
 
           {% if latest_question_list %}
               <ul>
               {% for question in latest_question_list %}
                   {{forloop.counter}}. <a href="{% url 'quiz:detail' question.id %}" id="quiz_select1">{{ question.question_text }}</a><br>
               {% endfor %}
               </ul>
            {% else %}
                <p>No quiz are available.</p> 
            {% endif %}

         
         </br>
         </br>
         <a href="add_question"> Add or Fix Question </a>
      

    </body>
</html>
